.base-button--resetPassword {
  color: white;
  box-shadow: 0 0 20px #f4922f;
  background-color: #ee7d2c;
}

.base-button--resetPassword:hover {
}

.base-button--cancelModal {
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  color: #f5902a;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #d06011;
}

.forget-password__modal {
  border: 2px solid #d06011;
  border-radius: 5px;

  padding: 0;
  transition: all 5s ease-in-out;
}
.forget-password__modal::backdrop {
  background: rgb(0, 0, 0 / 0.5);
  opacity: 0;
}

.forget-password__modal[open] {
  animation: fade-in 500ms forwards;
}

.forget-password__modal[closing] {
  display: block;
  inset: 0;
  animation: fade-out 500ms forwards;
  pointer-events: none;
}

.forget-password__modal[open]::backdrop {
  animation: fade-in 500ms forwards;
  opacity: 0.4;
}

.forget-password__modal[closing]::backdrop {
  animation: fade-out 500ms forwards;
}

.forget-password__modal__title {
  font-size: 28px;
}

.forget-password__form {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 100%;
  }
}
