@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Poppins", sans-serif;
}

.mainContent {
  display: flex;
  height: 100%;
}

.mainContent__left {
  width: 100%;
  background-image: url("/assets//back-sec-5-home.png");
}

.mainContent__logo {
  margin: 2%;
}

.mainContent__right {
  width: 100%;
  background-color: #f7fff7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInForm__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.signInForm__title {
}

.signInForm__label {
}
.signInForm__input {
}
.signInForm__submit {
}

.signInForm__separator {
}
